<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="{% static "app1/images/favicon-32x32.png" %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static "app1/images/favicon-16x16.png" %}" sizes="16x16" />
  <title>Ontology</title>
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/styles.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/custom-responsive-styles.css" %}" rel="stylesheet" type="text/css">
   <link href="{% static "app1/styles/tree_view.css" %}" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="{% static "app1/scripts/jquery-3.2.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "app1/scripts/all-plugins.js" %}"></script>
  <script type="text/javascript" src="{% static "app1/scripts/plugins-activate.js" %}"></script>
  <script type="text/javascript" src="{% static "app1/js/bootstrap-filestyle.min.js" %}"> </script>
  <script type="text/javascript" src="{% static "app1/scripts/ontology_creation_enviroment_post_handler.js" %}"> </script>

  

</head>

<body id="page-top" onload="loadStructureClass(); loadStructureProperty()">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-plane" aria-hidden="true"><span>Имя пользователя</span></i>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="smooth-scroll" href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#page-top">Дом</a>
      </li>
      
      <!--
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Services">Services</a>
      </li>
      
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Portfolio">Portfolio</a>
      </li>-->
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Classes">Классы</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#ObjectPropertys">Свойства</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Individuals">Экземпляры</a>
      </li>

      

      <!--<li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Contact">Contact</a>
      </li>-->
    </ul>
  </nav>
  <!-- Header Starts -->
  <section id="Banner" class="content-section" >
    <div class="container content-wrap text-center">
      <h1>Редактор онтологии</h1>
      <h3>
          <em>Всем привет, тут можно редактировать онтологии</em>
        </h3>
    </div>
    <div class="overlay"></div>
  </section>

  <!-- -----------------------------CLASSES SECTION--------------------------------------------------------------- -->
  <section id="Classes" class="content-section" >
    <div class="container content-wrap text-center">
      <h1>Классы</h1>
    </div>
    <div id="anotherSpan" class="container content-wrap text-left"> <!-- этот div для раскрытия списка классов -->
        <ul class="tree" id="tree">
        <!--<li name="Животные">Животные
          <ul>
            <li name="Млекопитающие">Млекопитающие
              <ul>
                <li>Коровы</li>
                <li>Ослы</li>
                <li>Собаки</li>
                <li>Тигры</li>
              </ul>
            </li>
            <li>Другие
              <ul>
                <li>Змеи</li>
                <li>Птицы</li>
                <li>Ящерицы</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Рыбы
          <ul>
            <li>Аквариумные
              <ul>
                <li>Гуппи</li>
                <li>Скалярии</li>
              </ul>
            </li>
            <li>Морские
              <ul>
                <li>Морская форель</li>
              </ul>
            </li>
          </ul>
        </li>-->
      </ul>
    </div>
    <div>
      <input id="subClassName" name="subClassName" type="text">
      <select id="className" name = "className">
        {% for i in listOfClasses %}
          <option id="{{i}}" name="{{i}}">{{i}}</option>
        {%  endfor  %}
      </select>
      
      {% csrf_token %}
      <button onclick="addClass(this)">Добавить класс</button>
    </div>
    <div class="overlay"></div>
  </section>
  <!- ------------------------------ END CLASSES SECTION---------------------------------------------------------------- ->

  <!-- -----------------------------     PROPERTY SECTION            --------------------------------------------------------------- -->
  <section id="Properties" class="content-section" >
    <div class="container content-wrap text-center">
      <h1>Свойства</h1>
    </div>
    <div id="anotherSpan" class="container content-wrap text-left"> <!-- этот div для раскрытия списка Свойств -->
        <ul class="treeProperty" id="treeProperty">
        
        </ul>
    </div>
    <div>
      <input id="subPropertyName" name="subPropertyName" type="text">
      <select id="propertyName" name = "propertyName">
        {% for i in listOfProperies %}
          <option id="{{i}}" name="{{i}}">{{i}}</option>
        {%  endfor  %}
      </select>
      
      {% csrf_token %}
      <button onclick="addProperty(this)">Добавить класс</button>
    </div>
    <div class="overlay"></div>
  </section>
  <!- ------------------------------ END PROPERTY SECTION---------------------------------------------------------------- ->


  
  <section id="Contact" class="content-section">
    <div class="container">
      <div class="block-heading">
        <h2>Загрузка онтологии</h2>
      </div>
      <div class="row">
        
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-wrap">
            <form method="post">{% csrf_token %}
              <div class="fname floating-label">
                <!--<input type="text" class="floating-input" name="full name" />-->
                {{ form.name }}
                <label for="id_name">Название онтологии</label>
              </div>
              <div class="company floating-label">
                <!--<textarea type="text" class="floating-input" name="company" /></textarea>-->
                {{form.description}}
                <label for="id_description">Описание онтологии</label>
              </div>
              <div class="fname floating-label">
                <label for="file" class="btn" style="background-color: pink; color: #000000">Открыть расположение</label>
                {{ form.file }}
              </div>
              <div class="submit-btn">
                <button type="submit">Загрузка</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="javascript:void(0)">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright © 2020</p>
      <p class="text-muted small mb-0">Designed by <a href="#" target="_balnk">Валерон</p>
    </div>
  </footer>
 
</body>

</html>